:root {
  --main-color: #aed9e0;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #d0e7eb, #aed9e0);
}

#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.container {
  padding: 2% 1.5%;
  height: 80%;
  width: 35%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  background-color: #e6eef0;
  border-radius: 25px;
}

.todoEntry {
  margin: 0 auto 7%;
  height: 15%;
  width: 90%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  background-color: #e6eef0;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  padding: 0 5%;
  align-items: center;
}

.userInfo {
  height: 65%;
  width: 25%;
  border-right: 2px #e47f53 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userEmail {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.username {
  margin: 0 0 0;
  font-size: 18px;
}

.userInput {
  margin-right: 10%;
  border-radius: 5px;
  border: 1px #e47f53 solid;
}

.taskInput {
  padding: 1%;
  width: 44%;
  margin-left: 3%;
  border-radius: 15px;
  border: 2px #e47f53 solid;
  height: 45%;
}

.status {
  margin-left: auto;
  border-radius: 15px;
  width: 14%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.task {
  margin-left: 3%;
  font-size: 20px;
  max-width: 50%;
  overflow-wrap: break-word;
}

.statusTodo {
  border: 1px solid #e47f53;
  color: #e47f53;
}

.statusTodo:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}

.submit {
  border: 1px solid #e47f53;
  background: none;
  height: 55%;
  color: #e47f53;
}

.submit:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}

.pageArrow {
  margin: 0 2%;
  font-size: 40px;
  color: #e47f53;
}

.pageArrow:hover {
  color: var(--main-color);
}

.pageSelect {
  border-radius: 5px;
}

.pageMenu {
  font-size: 18px;
  border: 1px #e47f53 solid;
  background: none;
}

.pageContainer {
  display: flex;
  align-items: center;
}

.sortContainer {
  margin-bottom: 5%;
  width: 45%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.sortSelect {
  margin-right: 3%;
}

.todoForm {
  position: relative;
}

.submitStatus {
  position: absolute;
  top: 120%;
  left: 50%;
}

.authInput {
  padding: 1%;
  width: 12vw;
  margin-left: 3%;
  border-radius: 15px;
  border: 2px #e47f53 solid;
  height: 3vh;
  margin: 1.5vh 0 3vh 0;
}

.authLabel {
  color: #e47f53;
  font-size: 20px;
}

.submitAuth {
  height: 3vh !important;
  width: 5vw;
  border-radius: 8px;
}

.authContainer {
  height: 50%;
  width: 25%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  background-color: #e6eef0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authHeader {
  color: #e47f53;
  margin-bottom: 5vh;
}

.authError {
  position: absolute;
  bottom: 25vh;
}

.authButton {
  position: absolute;
  color: #e47f53;
  right: 5vh;
  top: 5vh;
}
